<div class="header__inner">
    <!-- logo -->
    <div class="logo">
        <a href="#!" class="logo">
            <img
                src="./assets/img/Logo-ACBS.svg"
                alt="Logo"
                class="logo__img"
            />
        </a>
    </div>

    <div class="header__actions">
        <!--actions group  -->
        <div class="header__actions-group">
            <button class="header__actions-btn">
                <img
                    src="./assets/img/settings.png"
                    alt="icon"
                    class="header__actions-icon"
                />
                <span class="header__actions-title">Cài đặt</span>
            </button>
        </div>
        <div class="header__actions-group">
            <button class="header__actions-btn">
                <img
                    src="./assets/img/log-out.png"
                    alt="icon"
                    class="header__actions-icon"
                />
                <span class="header__actions-title">Đăng Xuất</span>
            </button>
        </div>
        <!-- avatar -->
        <div class="header__actions-avatar">
            <img
                src="../assets/img/uifaces-human-image.jpg"
                alt="avatar"
                class="avatar__img"
            />
        </div>
    </div>
</div>
